<h2>I was initialized at @dateTimeOffset?.ToString("O")</h2>
<h4>My initial Thread ID is: @initialThreadId</h4>
<h4>My last Thread ID is: @lastThreadId</h4>


@code {
    DateTimeOffset? dateTimeOffset;
    bool newLoaderVisibility;
    string initialThreadId { get; set; } = string.Empty;
    string lastThreadId { get; set; } = string.Empty;
    [CascadingParameter]
    public Action<bool> ChangeLoaderVisibilityAction { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        initialThreadId = Thread.CurrentThread.ManagedThreadId.ToString() ?? string.Empty;
        dateTimeOffset = DateTimeOffset.UtcNow;
        newLoaderVisibility = dateTimeOffset.Value.Ticks % 2 == 0;
        ChangeLoaderVisibilityAction(newLoaderVisibility);
        var randomSeed = int.Parse(dateTimeOffset.Value.Ticks.ToString()[^3..]);
        var random = new Random(randomSeed);
        await Task.Delay(random.Next(100, 2000));
        lastThreadId = Thread.CurrentThread.ManagedThreadId.ToString();
        ChangeLoaderVisibilityAction(!newLoaderVisibility);
    }
}
